Mapping_Foreach/foreach.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Employee">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element maxOccurs="unbounded" ref="Student"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="ID" type="xsd:string"/>
  <xsd:element name="Student">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="ID"/>
        <xsd:element ref="NAME"/>
        <xsd:element ref="PLACE"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="PLACE" type="xsd:string"/>
  <xsd:element name="NAME" type="xsd:string"/>
</xsd:schema>