AggregateNode_mapping/AggregateInputfile.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="Field2" type="xsd:string"/>
  <xsd:element name="OverallInputMessage">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element ref="Field1"/>
        <xsd:element ref="Field2"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="Field1" type="xsd:string"/>
</xsd:schema>